

  /* changing style of create button */
  .button {
    background-color: #f1af15;
    border: none;
    color: black;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;
}

  /*page styling start*/
  /* Centered heading and background styling */
  
  /* changing style of button */


.center {
    color: whitesmoke;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.large-heading {
    font-size: 40px;
}

.large-paragraph {
    font-size: 35px;
}


  /*page styling end*/


/* Larger submit button */
